{% extends 'polls/layout.html' %}

{% block body %}
<div class="content">
    <div>
        <h3>Register Electoral Candidate</h3>
    </div>
    <div class="form">
        <form action="{% url 'candidates' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="firstname" placeholder="Candidate First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="lastname" placeholder="Candidate Last Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="registrationNo" placeholder="Registration No.">
            </div>
            <div class="mb-3">
                <input type="file" class="form-control" name="image" id="image">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add Candidate</button>
            </div>
    
            {% if message %}
            <div class="message">     
                <div class="alert alert-info" role="alert">
                    <p>{{ message }}</p>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
