{% extends 'polls/layout.html' %}
{% load static %}

{% block body %}
<h4 class="mt-4">Elections</h4>
<div class="content">

    <div class="form">
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <fieldset class="mb-3">Candidates</fieldset>
            
            {% for candidate in candidates %}
            <div class="card mb-3">
                <div class="card-body">
                    <img src="{{ candidate.image.url }}" class="card-img-top" alt="Candidate Image">
                    <p class="card-text"><strong>First Name: </strong>{{ candidate.firstname }}</p>
                    <p class="card-text"><strong>Last Name: </strong>{{ candidate.lastname }}</p>
                    <p class="card-text"><strong>Post: </strong>{{ candidate.post }}</p>
                    <p class="card-text"><strong>Registration No.: </strong>{{ candidate.registrationNo }}</p>
                    <input type="checkbox" name="choice" value="{{ candidate.id }}" id="choice_{{ candidate.id }}" class="form-check-input mt-3">
                </div>
            </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary mb-3">Confirm Vote</button>
            
            <hr>
            
            {% if message %}
            <div class="alert alert-info" role="alert">
                <p>{{ votemessage }}</p>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                <p>{{ message }}</p>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
