{% extends 'polls/layout.html' %}
{% load static %}

{% block body %}
<h4>Elections</h4>
<div class="content">

    <div class="form">
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <fieldset>candidates</fieldset>
            
            {% for candidate in candidates %}
            <div class="candidate">
                <img src="{{ candidate.image.url }}" width="200px" height="200px" alt="">
                <p><strong>First name : </strong>{{ candidate.firstname }}</p>
                <p><strong>Last name : </strong>{{ candidate.lastname }}</p>
                <p><strong>Post : </strong>{{ candidate.post }}</p>
                <p><strong>Registration no. : </strong>{{ candidate.registrationNo }}</p>
                <br>
                <input type="checkbox" name="choice" value="{{ candidate.id }}" id="choice_{{ candidate.id }}">
               
            </div>
           <br>
            <input type="submit" value="confirm vote">
            <br>
            <hr>
            {% endfor %}
            <br>
            {% if message %}
            <div class="message">     
                <div class="alert alert-info" role="alert">
                    <p>{{ votemessage }}</p>
                </div>
        </div>      
            {% else  %}
            <div class="message">     
                <div class="alert alert-info" role="alert">
                    <p>{{ message }}</p>
                </div>
            </div>
            {% endif  %}
        </form>
    </div>
</div>
<br>
<br>



{% endblock %}
